%startComment
/** %species CSS **/

.innerbattle div > div > img[src*="gen5/%id"] {
    content: url('https://play.pokemonshowdown.com/sprites/digimon/sprites/digimonani/%id.gif');
    width: 56px !important;
    height: 56px !important;
}

.innerbattle div > div > img[src*="gen5-back/%id"] {
    content: url('https://play.pokemonshowdown.com/sprites/digimon/sprites/digimonani-back/%id.gif');
    width: 56px !important;
    height: 56px !important;
}

:::
.innerbattle .picon[aria-label^="%specialCaseName"],
.innerbattle .picon[aria-label^="%species"],
:::
.innerbattle .picon[aria-label^="%name"],
.innerbattle .picon[aria-label^="%lowercaseSpecies"],
button[value^="%nameORspecies"] .picon {
    background: url('%icon_sheet') no-repeat scroll %xpx %ypx !important;
}
